@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";




@theme {
  /* Custom Breakpoints */
  --breakpoint-xs: 300px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lm: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1436px;

  /* Custom Colors */
  --color-ORANGE-100: #F57119;
  --color-ORANGE-200: #e24a12;
  --color-ORANGE-300: #FDEDE3;
 

  --color-BLUE-100: #3C58A0;
  --color-BLUE-200: #4FABF7;
  --color-BLUE-300: #2A428C;
  --color-BLUE-400: #2F61E3;
  --color-BLUE-500: #8ECEFF;

  --color-RED-100: #FF8491;
  --color-RED-200: #FE73C5;
  --color-RED-300: #DC2828;

  --color-NEUTRAL-100: #141d29;
  --color-NEUTRAL-200: #161d27;
  --color-NEUTRAL-300: #202c3c;
  --color-NEUTRAL-1000: #374151;
  --color-NEUTRAL-1200: #4B5563;

  --color-TEAL-100: #2e9e95;
  --color-TEAL-200: #297a74;

  --color-NAVY-100: #10294c;
  --color-NAVY-200: #203a60;

  --color-GREY-100: #B6BEC9B2;
  --color-GREY-200: #707D8F;
  --color-GREY-300: #F0F2F5;
  --color-GREY-400: #FFFFFF26;
  --color-GREY-500: #F9FAFB;
  --color-GREY-800: #F3F4F6;

  --color-PURPLE-100: #7C3AED;

  --color-MODAL_BACKGROUND: "rgba(11, 12, 14, 0.77)";
  

  /* Custom Font Family */
  --font-sans: "Dm Sans", sans-serif;
}
